// jitske code

header {
  text-align: center;
}
.month .prev {
    float: left;
    padding-top: 10px;
}
/* Month header */
.month {
    padding: 20px 25px;
    text-align: center;
    width: 100%;
    background: $darkbrown;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

#calendar {
  width: 100%;
}

#calendar a {
  color: $darkbrown;
  text-decoration: none;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width: 14.342%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays {
  height: 40px;
  background: rgb(249,232,216);
}

#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: $darkbrown;
  font-size: 13px;
}

#calendar .days li {
  height: 160px;
}

#calendar .days li:hover {
  background: #d3d3d3;

        cursor:pointer;

}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: #333;
  color: #fff;
  width: 30px;
  border-radius: 50%;
  float: right;
}

#calendar .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  line-height: 14px;
  background: rgb(249,232,216);
  border: 1px solid $darkbrown;
  color: $main;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/
@media only screen and (max-width: 768px) {
  #calendar .weekdays, #calendar .other-month {
    display: none;

  }

  @media only screen and (min-width: 768px) {

  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
    
  }

  #calendar .date {
    float: none;
  }
}

