nav {
  		font-weight: bold;
  background-color: $lightbrown}

nav .brand-logo, 
nav ul a,
nav a {
  color: #333;
}

@media screen and (min-height: 793px) {

    nav ul {margin: 0 20px;}
    
}


@media screen and (max-height: 793px) {

    nav ul {margin: 0;}

}



.head-logo {
position: absolute;
    top: -400px;
    width: 100%;
    left:0;
    -webkit-animation: mymove 3s 1 forwards; /* Chrome, Safari, Opera */
    animation: mymove 3s 1 forwards;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {

    100% {top: 0;}
}

/* Standard syntax */
@keyframes mymove {

    100% {top: 0;}
}



.nav-wrapper {z-index: 1;}
#sidenav-overlay {z-index: -1;
background-color: white;}

.navbar-img-wrap {
width: 90px;
height:90px;;
border-radius: 20px;
overflow:hidden;
}


.naam {
  position: relative;
  width: 50px;
float: left;
}

      .side-nav {

        background-color: $midbrownopa;
        width: 180px;
        padding-top: 50px;
        color: $lightbrown;
      }


  .side-nav--item {
    margin: 0 20px;
    border-bottom: $lightbrown 2px solid;
  }

  .legende .chip img {width: auto;}

    .side-nav a, .side-nav li>a>i, .side-nav li>a>i.material-icons {color: $lightbrown
}

#logo-container {
  width: 14%;
  
}

.navpic {
  margin:18px 18px 0 0;
  position:relative;
height:30px}

.startlogo {
  min-width: 200px;
  width:300px;
height:300px;


}

.starticon {padding: 0 0 0 20px;}


.leftnavbutton {padding: 0 20px}

.sidenav {
  z-index:999;
}