 <nav>
    <div class="nav-wrapper z-depth-2">
        
  
        <ul id="nav-mobile" class="left hide-on-med-and-down">

    
            <!-- logo  -->
            <a id="logo-container" href="/" class="brand-logo center circle">
            <img class="hide-on-med-and-down head-logo circle" src="assets/logo barkpark.png"></a>

            <!-- nav items -->
             <li><a href="vrienden.html">Vrienden</a></li>
            <li><a href="berichten.html">Berichten</a></li>
            <li><a href="agenda.html">Agenda</a></li></ul>


     
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
            <li><a href="profile.html"> <img src="assets/profilepix.jpg" class="material-icons left navpic circle" alt="Contact Person">Profiel</a></li>
            <li><a href="index.html">Uitloggen</a></li>
        </ul>

    <a href="#" class="waves-effect waves-light btn right hide-on-med-and-down legende-btn"  onclick="openNav()">
<i class="large material-icons hide-on-large-only ">info_outline</i>
     Filter</a>


         <a href="#" class="right hide-on-large-only"  onclick="openNav()">
<i class="large material-icons hide-on-large-only">info_outline</i></a>
            <!-- Titel  -->
            <a href="/" class="brand-logo center">
            <div class="hide-on-large-only titel center">
               <h4> {{ page.title }} </h4>
            </div>
             
    




