 <nav>
    <div class="nav-wrapper z-depth-2">
        
  
        <ul id="nav-mobile " class="left hide-on-med-and-down">


            <!-- nav items -->
             <li><a href="vrienden.html">Vrienden</a></li>
            <li><a href="berichten.html">Berichten</a></li>
            <li><a href="agenda.html">Agenda</a></li>
           </ul>


            <ul id="nav-mobile" class="right hide-on-med-and-down">
                       <li><a href="profile.html"> <img src="assets/taylorswift.jpg" class="material-icons left navpic circle" alt="Contact Person">Profiel</a></li>
            <li><a href="index.html">Uitloggen</a></li>
   
   
        </ul>
        

    
            <!-- Titel  -->
            <a href="map.html" class="brand-logo center hide-on-med-and-down">
            <div class=" titel">
                Barkpark
            </div>
            </a>

         
            <div class=" brand-logo center hide-on-large-only titel">
                <h4> {{ page.title }} </h4>
            </div>
            
    
            

    

    
