 <nav>
    <div class="nav-wrapper z-depth-2">
        
  
    
            <!-- logo  -->
            <a id="logo-container" href="/" class="brand-logo center circle">
            <img class="hide-on-med-and-down head-logo circle" src="assets/logo barkpark.png"></a>

     
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
    
            <li><a href="#modal5" class="modal-trigger">Log in</a></li>
        </ul>


            <!-- Titel  -->
      
            <div class="hide-on-large-only brand-logo titel center">
               <h4> {{ page.title }} </h4>
            </div>
          
            
    <a href="#" class="waves-effect waves-light btn right hide-on-med-and-down"  onclick="openNav()">
<i class="large material-icons hide-on-large-only">info_outline</i>
     Filter</a>

         <a href="#" class="right hide-on-large-only"  onclick="openNav()">
<i class="large material-icons hide-on-large-only">info_outline</i></a>

         <a href="#modal5" class="leftnavbutton left hide-on-large-only" >
<i class="large material-icons fa fa-user hide-on-large-only" aria-hidden="true"></i></a>


    </div>
 </nav>
    




