

<script>


$( document ).ready(function(){
  $(".button-collapse").sideNav();  
  $('.parallax').parallax();
});





navigator.geolocation.getCurrentPosition(function(location) {
  var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude); 
  

    var map = L.map('map').setView(latlng, 13)
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoieGVuaWF0cmFuY2hldCIsImEiOiJjajRpanNjbXMwYjRkMzNtcW4xMTdpYmlqIn0.woHH7qvl-lK7TV4GuV6xQw', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token',
}).addTo(map);
  
  var marker = L.marker(latlng).addTo(map);
  marker.bindPopup("mijn locatie").openPopup();


var blueMarker = {
 radius: 13,
  fillColor: "#0000ff"
}; 

var redMarker = {
  radius: 13,
  fillColor: "#ff0000"
}

var greenMarker = {
  radius: 13,
  fillColor: "#00ff00"
}

var yellowMarker = {
  radius: 13,
  fillColor: "#ffff00"
}

var purpleMarker = {
  radius: 13,
  fillColor: "#800080"
}

var laagtoilet =
L.geoJSON(hondentoilet, {
pointToLayer: function (feature, latlng) {
    return L.circleMarker(latlng, yellowMarker);
  },
     onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + "<br>" + feature.properties.Straat + " " + feature.properties.Huisnummer + "<br>" + feature.properties.Gemeente);

        }
          
    }

).addTo(map);

$('.buttonhondentoilet').on('click', function() {
  if(map.hasLayer(laagtoilet)) {
    map.removeLayer(laagtoilet);
  } else {
    map.addLayer(laagtoilet);
  }
});



var laagweide =
L.geoJSON(losloopweide, {
pointToLayer: function (feature, latlng) {
    return L.circleMarker(latlng, greenMarker);
  },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + "<br>" + feature.properties.Straat + " " + feature.properties.Huisnummer + "<br>" + feature.properties.Gemeente);
        }
        
    }

).addTo(map);

$('.buttonweide').on('click', function() {
  if(map.hasLayer(laagweide)) {
    map.removeLayer(laagweide);
  } else {
    map.addLayer(laagweide);
  }
});

var laagtegel = 
L.geoJSON(antihondenpoeptegel, {

pointToLayer: function (feature, latlng) {
    return L.circleMarker(latlng, redMarker);
  },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + "<br>" + feature.properties.Straat + " " + feature.properties.Huisnummer + "<br>" + feature.properties.Gemeente);
        }
        
    }

).addTo(map);


$('.buttontegel').on('click', function() {
  if(map.hasLayer(laagtegel)) {
    map.removeLayer(laagtegel);
  } else {
    map.addLayer(laagtegel);
  }
});



var laagzwem = 
L.geoJSON(zwemplaats, {

pointToLayer: function (feature, latlng) {
    return L.circleMarker(latlng, blueMarker);
  },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + "<br>" + feature.properties.Straat + " " + feature.properties.Huisnummer + "<br>" + feature.properties.Gemeente);
        }
        
    }

).addTo(map);


$('.buttonzwem').on('click', function() {
  if(map.hasLayer(laagzwem)) {
    map.removeLayer(laagzwem);
  } else {
    map.addLayer(laagzwem);
  }
});


var laagpark = 
L.geoJSON(park, {

    style: function (feature) {
            return feature.properties.style;
        },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.description + "<br> <a href='detailpark.html' class='parklink'>Klik hier voor meer info</a>");
        }
        
    }

).addTo(map);


$('.buttonpark').on('click', function() {
  if(map.hasLayer(laagpark)) {
    map.removeLayer(laagpark);
  } else {
    map.addLayer(laagpark);
  }
});

var laagarts = 
L.geoJSON(dierenarts, {

pointToLayer: function (feature, latlng) {
    return L.circleMarker(latlng, purpleMarker);
  },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + "<br>" + feature.properties.Straat + " " + feature.properties.Huisnummer + "<br>" + feature.properties.Gemeente);
        }
        
    }

).addTo(map);


$('.buttonarts').on('click', function() {
  if(map.hasLayer(laagarts)) {
    map.removeLayer(laagarts);
  } else {
    map.addLayer(laagarts);
  }
});



  });



</script>

  <script>
  // Initialize collapse button
  $('.button-collapse').sideNav({
      menuWidth: 220, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );


  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
  


  /* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}

 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
        
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });


    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        

  
  $(document).ready(function() {
    $('select').material_select();
  });



            
  </script>


