        <!-- side nav --> 
          <ul id="slide-out" class="side-nav">
              
              <li><div class="userView">
  
                    <a href="profile.html"><img class="circle" src="assets/taylorswift.jpg"></a>
                    <a href="profile.html"><span class="name">Taylor Swift</span></a>
              </div></li>

              <li><div class="divider"></div></li>
              <li><a href="profile.html"><i class="material-icons">perm_identity</i>PROFIEL</a></li>
              <li><div class="divider"></div></li>
              <li><a href="map.html"><i class="material-icons fa fa-map-marker" aria-hidden="true"></i>LOCATIES</a></li>
              <li><div class="divider"></div></li>
              <li><a href="vrienden.html"><i class="material-icons">contacts</i>VRIENDEN</a></li>
              <li><div class="divider"></div></li>
              <li><a href="berichten.html"><i class="material-icons">message</i>BERICHTEN</a></li>
              <li><div class="divider"></div></li>
              <li><a href="agenda.html"><i class="material-icons">perm_contact_calendar</i>AGENDA</a></li>
              <li><div class="divider"></div></li>

              <a href="index.html" class="waves-effect waves-light btn">Uitloggen</a>
              
        </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class='right hide-on-large-only'>
                     <li><a href="#">{{page.button}}</a></li>
            </ul>
</nav>